body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    height: 45px;
    overflow: hidden;
    background:linear-gradient(to right,#c471ed,#b621fe , #12c2e9); 
}
label.fieldDescription{
    font-weight: bold;
    box-sizing: border-box;
    text-align: start;
    width: 100%;
    height: fit-content;
    padding: 1px;
    padding-left: 10px;
    padding-bottom: 1px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}
div {
    display: block;
}

.header{
    height: 45px;
    overflow: hidden;
    background:linear-gradient(to right,#c471ed,#b621fe , #12c2e9); 
}
input.inputbox{
    margin-top: 2px;
}
h3{
  margin-top: auto;
  margin-bottom: opx;
    align-items: baseline;
    color: white;
    font-family:cursive;
    font-size: xx-large;
}

.form{
    width: 350px;
    height: fit-content;

    flex-direction: column;
    
    padding: 20px 55px 20px 55px;
    margin: 60px auto;
    border-radius: 25px;

    background: #ffffff;
    box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
    
    transition: all .3s;
}
hr{
    margin-top: 0px;
    margin-bottom: 20px;
    background: linear-gradient(to right,#c471ed,#b621fe , #12c2e9);
    margin-left: auto;
    margin-right: auto;
}
.input-boxes{
    padding: 0%;
}

label.intrestDescription{
    font-weight: bold;
    box-sizing: border-box;
    width: 100%;
    padding: 1px;
    padding-left: 15px;
    padding-bottom: 1px;
    margin-inline-start: auto;
    margin-inline-end: auto;
    margin-right: 150px;
    align-items: center;
}
input,
select{
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 1.5em;
    background: transparent;
    resize: none;
    outline: none;
    top: 0;
    left: 0;   
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
}

input:focus{
    border-color:#b621fe;
}
.button{
    cursor: pointer;
    background: linear-gradient(to right,#c471ed,#b621fe , #12c2e9);
    box-shadow: 0px 5px 15px 5px #840fe440;
    color: #fff;
    padding: 10px;
    font-size: 1em;
    font-weight: bold;
    width: 100%;
    border-radius: 25px;
    border: none;
    height: 25px;
    width: 140px;
    margin: 20px 0px;
}
.intrestbutton,
#register-button,
#interests-close{
    min-width:  200px;
    width: fit-content;
    height: fit-content;

    cursor: pointer;

    color: #fff;
    background: linear-gradient(to right,#c471ed,#b621fe , #12c2e9);
    box-shadow: 0px 5px 15px 5px #840fe440;
    
    padding: 10px;
    margin: 20px 0px;
    border-radius: 25px;
    border: none;

    font-size: 1em;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    transition: ease-in-out 0.5s;
}

link.button{
    appearance: auto;
    user-select: none;
    white-space: pre;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
   
}

#interests-close{
    width: fit-content;
    min-width: none;
}

input#fileupload{
    border: none;
    border-radius: 0;
    padding: 0;
}

input#fileupload::-webkit-file-upload-button {
    visibility: hidden;
}

input#fileupload::before {
    content: 'Choose File';
    display: inline-block;

    border: none;
    border-radius: 8px;
    padding: 10px;

    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;

    color: #ffffff;
    background: linear-gradient(to right,#c471ed,#b621fe , #12c2e9);
    
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none; 
}

#register-pic{
    max-width: 320px;
    max-height: 320px;
    
    border-radius: 20px;
}