*{
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Registration Form */
.registration{
  width: fit-content;
  height: fit-content;
  margin: 10px auto;

  box-sizing: border-box;
}

/* .registration .form-element{
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
  margin-bottom: 0;
} */

.registration label,
.registration input,
.registration select{
  width: 320px;
  height: 35px;

  padding: 0 10px;
  margin: 10px 0;

  display: block;
}

.react-datepicker__input-container input{
  margin: 0;
}
/* Registration Form */

/* Interests Interface */
#interests-background{
  width: 100%;
  height: 100%;

  display: none;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  background-color: rgba(0, 0, 0, 0.7);
}

#interests-interface{
  width: 45%;
  height:min-content;

  margin-bottom: 15px;
  padding: 25px 50px;
  border-radius: 30px;
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: block;
  background-color: white;
}

#interests-interface h1{
 padding: 2px 5px;
 margin-bottom: 15px;

 font-size: 25px;
 font-weight: 500;
}

.interests-container{
  display: flex;
  flex-wrap: wrap;

  justify-content: center;

  margin-bottom: 15px;
}

.interest-element{
  width: fit-content;
  height: fit-content;
  
  position: relative;
  display: flex;

  margin: 5px;
  padding: 5px 15px;
  border-radius: 10px;

  background-color: #ddd;
  color: black;
  
  font-size: 15px;
  text-align: center;
  justify-content: center;

  cursor: pointer;
  transition: ease-in-out 0.5s;
}

.interest-element:hover,
#interests-interface button:hover{
  background-color: #bbb;
}

.interests-button-container{
  display: flex;
}

.interest-element,
#interests-interface h1,
#interests-close{
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/* Interests Interface */